/* reset CSS */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}
:root {
	--calendar-color: invert(100%);
}
input[type="date"]::-webkit-calendar-picker-indicator {
	filter: var(--calendar-color);
}
html,
body {
	height: 100%;
	width: 100%;
	position: relative;
	font-family: "Roboto", Courier, monospace;
	/* background: linear-gradient(to right,#6495a6, #a6bcd8, #e8e8e7);*/
	background-color: #2f2a33;
}
#wrapBody {
	width: 100%;
	height: 100%;
}
.editableDiv {
	color: white;
	width: 95%;
	padding: 5px;
	border: 1px solid transparent;
	margin-top: 5%;
	min-height: 80%;
	/* overflow:hidden; */
}
.editableDiv2 {
	color: white;
	margin-top: 10px;
	width: 95%;
	padding: 5px;
	border: 1px solid transparent;
	min-height: 100px;
	/* overflow:hidden; */
}
.editableDiv2:hover {
	border: 1px dashed rgb(102, 102, 102);
}
.editableDiv:hover {
	border: 1px solid rgb(102, 102, 102);
}

.header {
	width: 100%;
	height: 22%;
	font-size: 30px;
	margin: auto;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	/* background-color: #2f2a33; */
	background: linear-gradient(to bottom, black, #2f2a33);
	color: #e8e8e7;
	/* background: url(/Images/headerBackground.jpg); */
	background-size: cover;
	background-position: center center;
	position: relative;
}
.header img {
	position: absolute;
	width: 750px;
	height: 400px;
	top: -88%;
}
.header div {
	position: absolute;
	bottom: 5px;
}
.setting {
	border: 1px solid black;
}
.body {
	width: 95%;
	height: 50%;
	margin: auto;
	height: fit-content;
	display: flex;
	justify-content: space-between;
	/* position: relative; */
}
.body .information {
	width: 40%;
	height: fit-content;
	margin: 10px;
	position: relative;
}
.backgroundOfCV {
	position: absolute;
	z-index: 0;
	/* opacity: 0.7; */
	width: 100%;
	height: 100%;
	top: 0;
}
.body .information > div:not(:first-child) {
	width: 90%;
	height: fit-content;
	position: relative;
	font-size: 20px;
	padding: 15px;
	color: black;
	background: linear-gradient(45deg, rgb(0, 240, 252), #f757f5);
	border-collapse: collapse;
}
.backgroundContainer {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	margin-top: 20px;
	row-gap: 25px;
}
.backgroundContainer div {
	width: 50px;
	height: 50px;
	box-shadow: 8px 8px 15px rgb(99, 99, 99);
}
.backgroundContainer div:hover {
	box-shadow: 3px 3px 15px rgb(61, 61, 61);
}
.backgroundContainer div:first-child {
	background-image: url(../Images/test.png);
	background-position: top left;
}
.backgroundContainer div:nth-child(2) {
	background-image: url(../Images/test.png);
	background-position: center top;
}
.backgroundContainer div:nth-child(3) {
	background-image: url(../Images/test.png);
	background-position: right top;
}
.backgroundContainer div:nth-child(4) {
	background-image: url(../Images/test.png);
	background-position: left center;
}
.backgroundContainer div:nth-child(5) {
	background-image: url(../Images/test.png);
	background-position: center center;
}
.backgroundContainer div:nth-child(6) {
	background-image: url(.g./Images/test.png);
	background-position: right center;
}
#custom {
	display: flex;
	margin-top: 20px;
	font-size: 15px;
	justify-content: center;
}

#custom > div {
	margin-left: 10px;
	padding: 10px;
	border-radius: 5px;
	background-color: #2f2a33;
	color: white;
	cursor: pointer;
}
#userBackground {
	display: grid;
	grid-template-columns: auto auto auto auto auto auto;
	margin-top: 20px;
	grid-row-gap: 10px;
}
#userBackground div {
	background-color: white;
	width: 50px;
	height: 50px;
}
.information .data div {
	width: min-content;
	text-align: center;
	font-size: 30px;
	padding: 10px;
	/* background-color: white; */
	background: linear-gradient(45deg, rgb(0, 240, 252), #f757f5);

	margin: 2px 2px 5px 5px;
	border-radius: 5px;
}
.information > div:first-child {
	display: flex;
	width: fit-content;
	border: none;
	background-color: transparent !important;
	padding: 0;
	margin-left: auto;
	margin-right: 10%;
	border-radius: 5px 5px 0 0;
}
.information > div:nth-child(2) {
	border-radius: 10px 10px 0 0;
}
#anotherInfor {
	border-radius: 0 0 10px 10px;
}
#available {
	display: flex;
	flex-direction: column;
	justify-content: center;
	user-select: none;
}
#available i,
#Cv-background i {
	position: absolute;
	right: 10px;
	top: 15px;
	font-size: 30px;
	cursor: pointer;
}
#available > div {
	display: none;
	grid-template-columns: auto auto auto;
	font-size: 15px;
	text-align: center;
	color: white;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin-top: 15px;
}
#available > div {
	display: none;
	grid-template-columns: auto auto auto;
	font-size: 15px;
	text-align: center;
	color: white;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
	margin-top: 15px;
}
#project i,
#language i,
#anotherInfor i {
	position: absolute;
	right: 10px;
	font-size: 25px;
	cursor: pointer;
}
#project:hover i,
#language:hover i,
#anotherInfor:hover i {
	transform: rotate(180deg);
	transition: 1s;
}
#available > div div {
	background-color: #f8edeb;
	color: #2f2f2f;
	padding: 5px;
	border-radius: 5px;
	border: 2px solid #c26b32;
	cursor: pointer;
}
.addSkill {
	border: 1px solid white;
	color: white;
	width: fit-content;
	padding: 1px 5px;
	cursor: pointer;
	margin: 5px;
	display: none;
}
#addButton {
	border: 1px solid black;
	color: black;
	width: fit-content;
	padding: 1px 5px;
	cursor: pointer;
	margin: 5px;
	display: none;
}
@keyframes saved {
	50% {
		transform: scale(1.5);
	}
	100% {
		color: black;
		transform: scale(1);
	}
}
@keyframes load {
	50% {
	}
	100% {
		color: black;
		transform: rotate(360deg);
	}
}
@keyframes download {
	50% {
		transform: translateY(10px);
	}
	100% {
		transform: translateY(0);
	}
}

/* tai anh */
.modal {
	display: none;
	/* position:rela	 */
}
.OpenModal {
	display: block !important;
}
#opaModal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #333;
	opacity: 0.5;
}
#chinhsuaAva {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 45%;
	width: 40%;
	background-color: rgb(139, 139, 139);
	box-shadow: 0px 0px 10px rgb(255, 255, 255);
	border-radius: 6px;
	animation: slide 0.6s ease;
	color: black;
	z-index: 1000;
}
#modalHead {
	width: 100%;
	text-align: center;
	background-color: rgb(170, 9, 170);
	height: 40px;
	line-height: 40px;
	position: relative;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
#modalHead i {
	position: absolute;
	right: 0;
	top: 0;
	height: 40px;
	line-height: 40px;
	width: 7%;
}
#modalHead i:hover {
	cursor: pointer;
	background-color: rgb(240, 48, 48);
}
#bodyModal {
	width: 100%;
	height: calc(100% - 40px);
	line-height: calc(100% - 40px);
	display: flex;
}
form[action=""] {
	display: inline;
}
form[action=""] input[type="file"] {
	font-size: 16px;
}
#imageCV {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	background-size: cover;
	height: calc(100% - 40px);
	/* width:auto; */
	min-width: 150px;
	min-height: 180px;
	max-width: 160px;
	max-height: 186px;
	border: 1px solid black;
}
#leftbody {
	flex-basis: 50%;
	text-align: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
#butToggleAva .sectionButava {
	outline: none;
	height: 32px;
	width: 64px;
	border: 1px solid black;
	border-radius: 5px;
	background-color: aquamarine;
}
#butToggleAva .sectionButava:hover {
	cursor: pointer;
	opacity: 0.7;
}
#js-addFile {
	width: 80px !important;
	padding: 0 5px;
}
#rightbody {
	position: relative;
	flex-basis: 50%;
	text-align: center;
}
#rightbody div {
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translateX(-50%);
}
#editContent {
	width: 95%;
	height: 60px;
	margin: auto;
	margin-bottom: 10px;
	background: linear-gradient(45deg, rgb(0, 240, 252), #f757f5);
	box-shadow: 0px 5px 5px rgba(122, 122, 122, 0.562);
	border-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
}
.fixEditContent {
	position: fixed !important;
	top: 0;
	left: 50%;
	transform: translateX(-50%) !important;
	z-index: 2;
	animation: appear 0.8s ease;
}
.fixInformation {
	position: fixed !important;
	top: 10%;
	z-index: 2;
	animation: appear 0.8s ease;
}
.sectionEdit {
	height: 76%;
	width: 12%;
	background-color: white;
	box-shadow: 5px 0px 5px rgba(122, 122, 122, 0.562);
	position: relative;
	padding: 0 10px;
}
.sectionEdit + .sectionEdit {
	border-left: 1px solid #a3a3a3;
}
#editContent #font {
	width: initial;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	padding: 0 5px;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}
#font i {
	margin: 0 5px;
	font-size: 120%;
}
#font #seclectFont {
	font-size: 120%;
	outline: none;
	border: 1px solid rgb(151, 151, 151);
	border-radius: 5px;
}

#status {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#status i {
	flex-grow: 1;
	text-align: center;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(148, 148, 148);
}
#status .addBlackStatus {
	color: #000000;
}
.boldjs {
	font-weight: bold;
}
.italicjs {
	font-style: italic;
}
.underlinejs {
	text-decoration: underline;
}
#status i:hover {
	background-color: #ddd;
	cursor: pointer;
}

#align {
	/* border-top-right-radius: 4px;
	border-bottom-right-radius: 4px; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#align i {
	flex-grow: 1;
	text-align: center;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
#align i:hover {
	background-color: #ddd;
	cursor: pointer;
}
/* ul ol */
#listEdit {
	width: 6%;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#listEdit i {
	flex-grow: 1;
	text-align: center;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: rgb(148, 148, 148);
}
#listEdit i:hover {
	background-color: #ddd;
	cursor: pointer;
}

#editContent #size {
	display: flex;
	justify-content: space-between;
	padding: 5px;
}
#size > i {
	margin: auto;
}
#size #sizeEdit {
	display: flex;
	width: 80%;
	background-color: #e8e8e7;
	border: 1px solid rgba(141, 141, 141, 0.377);
	border-radius: 6px;
}
#sizeEdit .sectionSizeEdit {
	display: flex;
	justify-content: center;
	align-items: center;
}
#sizeEdit .sectionSizeEdit:hover {
	background-color: #ddd;
	cursor: pointer;
}
#sizeEdit .sectionSizeEdit + .sectionSizeEdit {
	border-left: 1px solid rgba(141, 141, 141, 0.377);
}
#sizeEdit #leftSize {
	flex-grow: 3;
	text-align: center;
}
#sizeEdit #rightSize {
	flex-grow: 3;
	text-align: center;
}
#sizeEdit #showFont {
	flex-grow: 2;
	text-align: center;
	font-family: Open Sans, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
		Arial, sans-serif;
	/* font-weight: 600; */
	font-style: oblique;
	font-size: 105%;
	font-style: italic;
}
#sizeEdit #showFont:hover {
	cursor: text;
}
#editContent #color {
	width: 4%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
#editContent #color:hover {
	cursor: pointer;
	background-color: #ddd;
}
#color #imageColor {
	height: 5%;
	width: 100%;
}
#color #textColor {
	font-size: 150%;
	font-weight: 600;
	height: 20px;
	display: inline-block;
	margin-top: 5px;
}
#color #imageColor div {
	background-image: url(../Images/fontClor.png);
	background-repeat: repeat;
	background-size: contain;
	height: 150%;
	width: 40%;
	margin: auto;
	border-radius: 10px;
}
#size #listFontSize {
	position: absolute;
	right: 0;
	top: 100%;
	/* transform: translateX(-50%); */
	z-index: 2;
	overflow-y: scroll;
	width: 76%;
	height: 1000%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 0px 10px #333;
	border-radius: 5px;
	display: none;
	animation: appear 0.35s ease;
}
#listFontSize #listUl {
	padding: 10px 0;
}
#listFontSize #listUl li {
	height: 38px;
	text-align: center;
	font-style: italic;
	line-height: 38px;
	font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
		Helvetica, Arial, sans-serif;
	font-size: 105%;
}
#listFontSize #listUl li:hover {
	background-color: rgba(221, 221, 221, 0.541);
	cursor: pointer;
}
/* color */
#tableColor {
	position: fixed;
	top: 0;
	z-index: 999;
	height: 100%;
	width: 25%;
	background-color: #ffffff;
	display: none;
	flex-wrap: wrap;
	justify-content: center;
	box-shadow: 1px 0px 10px #333;
}
.closeTableColor {
	animation: closeTableColorA 0.41s ease !important;
}
.openTableColor {
	display: flex !important;
	animation: openTableColorA 0.41s ease;
}
#tableColor #inputColor {
	background-color: #2f2a33;
	flex-grow: 1;
	height: 30%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}
#inputColor #demoColor {
	font-weight: bold;
	font-size: 150%;
	font-family: "Courier New", Courier, monospace;
	color: #ffffff;
}
#inputColor form {
	width: 100%;
	text-align: center;
}
form #color-search {
	width: 250px;
	box-sizing: border-box;
	border: 1px solid #aaa;
	border-radius: 4px;
	outline: none;
	padding: 12px 14px;
	transition: 0.4s ease;
	opacity: 0.85;
	font-size: 110%;
}
#color-search:focus {
	width: 90%;
	border-color: rgb(211, 13, 13);
	opacity: 1;
}
#color-search::placeholder {
	color: #ddd;
	font-size: 15px !important;
	float: right;
	text-transform: uppercase;
}
#inputColor #useColor {
	width: 40%;
	height: 50px;
	background: linear-gradient(
		to left,
		white,
		rgb(240, 129, 171),
		purple,
		#8c52ff,
		#5552ff,
		#38b6ff,
		#008037,
		#ffde59,
		#ff914d,
		#ff1616,
		black
	);
	text-align: center;
	line-height: 50px;
	border: 1px solid #333;
	opacity: 1;
	border-radius: 4px;
	padding: 0 5px;
	font-weight: 600;
	text-transform: uppercase;
}
#inputColor #useColor:hover {
	cursor: pointer;
	opacity: 0.6;
}

#tableColor .basicColor {
	background-color: #ffffff;
	height: 40%;
	width: 90%;
	padding: 10px 0;
}
.basicColor .flexBasicColor {
	width: 100%;
	height: calc(100% - 16.8px);
	background-color: #ffffff;
	padding: 10px 0;
}
.flexBasicColor .sectionBasicColors {
	content: " ";
	width: 42px;
	height: 42px;
	display: inline-block;
	margin: 5px 0;
	border-radius: 4px;
	border: 1px solid rgba(187, 187, 187, 0.753) !important;
	transition: all 0.2s ease;
	padding: 0;
}

.flexBasicColor .sectionBasicColors:hover {
	border: 2px solid rgb(255, 255, 255) !important;
	outline: 3px solid rgb(184, 0, 184) !important;
	cursor: pointer;
}
.flexBasicColor .sectionBasicColors + .sectionBasicColors {
	margin-left: 6.7px;
}
.flexBasicColor .sectionBasicColors:nth-child(7) {
	margin-left: 0px;
}
.flexBasicColor .sectionBasicColors:nth-child(13) {
	margin-left: 0px;
}
.flexBasicColor .sectionBasicColors:nth-child(19) {
	margin-left: 0px;
}
#tableColor #advanColor {
	height: 30%;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}
#advanColor .btn_advanColor {
	width: 33%;
	height: 20%;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	font-size: medium;
	outline: none;
	border: 1px solid rgba(136, 136, 136, 0.596);
	border-radius: 4px;
	background: linear-gradient(
		to bottom right,
		rgb(240, 129, 171),
		rgb(226, 199, 123)
	);
	padding: 0.2rem;
}
#advanColor .btn_advanColor:hover {
	outline: 2px solid purple;
	border: 1px solid white;
	cursor: pointer;
}

.pickr-container {
	width: 100%;
	height: 100%;
	padding: 0;
	outline: none;
	margin-left: 0 !important;
}
.pickr-container:hover {
	outline: 2px solid rgb(29, 80, 32) !important;
	border: none !important;
}
.pickr {
	background: linear-gradient(
		to bottom right,
		#ff1616,
		#ff914d,
		#ffde59,
		#008037,
		#5271ff,
		#8c52ff,
		#5e17eb
	) !important;
	outline: none;
	border: none;
	border-radius: 4px;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
}
.pickr button {
	width: 2.1rem !important;
	height: 2.1rem !important;
	--pcr-color: #fff !important;
	background-size: 90% !important;
	transform: rotateZ(45deg);
}
.pickr .pcr-button::before {
	position: relative;
}
.pickr .pcr-button::after {
	position: relative;
}
.pcr-app[data-theme="classic"] {
	left: var(--leftPcr-) !important;
	width: 23.5em;
	max-width: 95vw;
	padding: 0.8em;
}
/* keyframe */
@keyframes slide {
	from {
		top: 0;
	}
	to {
		top: 40%;
	}
}
@keyframes appear {
	from {
		opacity: 0.5;
	}
	to {
		opacity: 1;
	}
}
@keyframes openTableColorA {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}
@keyframes closeTableColorA {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}
