                 /* reset CSS */
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html,body{
    height:100%;
    width:100%;
    position: relative;
    font-family: 'Roboto', Courier, monospace;
}
#wrapBody{
    width:100%;
    height:100%;
}
.header{
    width:95%;
    height:20%;
    font-size: 30px;
    border: 1px solid black;
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
.body{
    width: 95%;
    height: 50%;
    border: 1px solid black;
    margin: auto;
    height: fit-content;
    display: flex;
}
.body .information {
    border: 1px solid black;
    width: 30%;
    height: fit-content;
    margin: 10px;
}
.body .information div {
    width: 100%;
    height: 50px;
    border: 1px solid red;
    margin-bottom: 10px;
    cursor: pointer;
}
.body .CV {
    border: 2px solid black;
    width: 70%;
    height: fit-content;
    margin: 10px;
    position: relative;
    box-shadow: 8px 8px 15px black;
}
.body .CV img {
    position: relative;
    width: 100%;
    height: 600px;
}

#headerCV{
    position: relative;
    width: 100%;
    /* height: 100px; */
    /* background-color: darkcyan; */
    display: flex;
    padding: 24px;
}
#ava{
    width: 20%; 
    /* height: 180px; */
    background-image: url("/images/no_avatar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;  
    padding-bottom: calc(20% - 2px);
    border: 1px dashed #333;
}
#ava:hover{
    cursor: pointer;
    opacity: 0.8;
}
#name{
    width: 50%; 
    background-color: rgb(71, 141, 92);
    height: 0;
    padding-bottom: 20%;
}
#info{
    width: 30%; 
    background-color: rgb(128, 141, 71);
    height: 0;
    padding-bottom: 20%;
}
.modal{
    display: none;
}
.OpenModal{
    display: block;
}
#opaModal{
    position: fixed;
    top:0;
    width: 100%;
    height: 100%;
    background-color: #333;
    opacity: 0.5;
}
#chinhsuaAva{
    position: absolute;
    top: 40%;
    left:50%;
    transform:translate(-50%,-50%);
    height: 45%;
    width: 40%;
    background-color:rgb(139, 139, 139);
}
#modalHead{
    width: 100%;
    text-align: center;
    background-color: rgb(120, 167, 92);
    height: 40px;
    line-height: 40px;
    position: relative;
}
#modalHead i{
    position: absolute;
    right: 0;
    top:0;
    height: 40px;
    line-height:40px;
    width:7%;
}
#modalHead i:hover{
    cursor: pointer;
    background-color: rgb(81, 197, 100);
}
#bodyModal{
    width: 100%;
    height: calc(100% - 40px);
    line-height: calc(100% - 40px);
    display: flex;
}
form[action=""]{
    display: inline;
}
form[action=""] input[type="file"]{
    font-size:16px;
}
#imageCV{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    background-size:cover;
    height: calc(100% - 40px);
    /* width:auto; */
    min-width: 170px;
    min-height: 180px;
    max-width: 190px;
    max-height: 200px;
    border: 1px solid black;
}
#leftbody{
    flex-basis: 50%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#butToggleAva .sectionButava{
    outline: none;
    height: 32px;
    width: 64px;
    border: 1px solid black;
    border-radius: 5px;
    background-color:aquamarine;
}
#butToggleAva .sectionButava:hover{
    cursor: pointer;
    opacity: 0.7;
}
#js-addFile{
    width:80px !important;
    padding: 0 5px;
}
#rightbody{
    flex-basis: 50%;
    text-align: center;
}